/**----------------------------------------------
 * ?                    ABOUT
 * @author      :  Felicia Haggard
 * @email       :  haggardwebdev@gmail.com
 * @repo        :  haggardfelicia
 * @createdOn   :  08/05/2024
 * @description :  scss for my portfolio. fonts are declared below.
 *---------------------------------------------**/

 /**----------------------
  **      Fonts

  text-xs	font-size: 0.75rem; 
line-height: 1rem; 
text-sm	font-size: 0.875rem; 
line-height: 1.25rem;
text-base	font-size: 1rem; 
line-height: 1.5rem; 
text-lg	font-size: 1.125rem; 
line-height: 1.75rem;
text-xl	font-size: 1.25rem; 
line-height: 1.75rem; 
text-2xl	font-size: 1.5rem; 
line-height: 2rem; 
text-3xl	font-size: 1.875rem; 
line-height: 2.25rem; 
text-4xl	font-size: 2.25rem; 
line-height: 2.5rem; 
text-5xl	font-size: 3rem; 
line-height: 1;
text-6xl	font-size: 3.75rem;
line-height: 1;
text-7xl	font-size: 4.5rem;
line-height: 1;
text-8xl	font-size: 6rem; 
line-height: 1;
text-9xl	font-size: 8rem; 
line-height: 1;
  *------------------------**/
  @font-face {
    font-family: Dosis;
    src: url(../fonts/Dosis-VariableFont_wght.ttf) format("truetype");
  }
  @font-face {
    font-family: 'Nunito-italic';
    src: url(../fonts/Nunito-Italic-VariableFont_wght.ttf) format(truetype);
  }
  @font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-VariableFont_wght.ttf) format(truetype);
  }
  @font-face {
    font-family: Sofia;
    src: url(../fonts/Sofia-Regular.ttf) format(truetype);
  }
/**----------------------
 **      colors
 *------------------------**/
//  flame dark
 $flame-dark-100: #F19B7E;
 $flame-dark-200: #EE7E59;
 $flame-dark-300: #E85A29;
 $flame-dark-400: #DE4917;
 $flame-dark-500: #B93D13;
//  tekhelet dark
$tekhelet-dark-100: #9483C3;
$tekhelet-dark-200: #7C68B6;
$tekhelet-dark-300: #473773;
$tekhelet-dark-400: #3D2E60;
$tekhelet-dark-500: #2C2145;
//  flame light
$flame-light-100: #F8D1B4;
$flame-light-200: #F7BF9E;
$flame-light-300: #F6AD88;
$flame-light-400: #F69B72;
$flame-light-500: #F5895C;
//  tekhelet light
$tekhelet-light-100: #E1D8F7;
$tekhelet-light-200: #D7C8F3;
$tekhelet-light-300: #D0BEF2;
$tekhelet-light-400: #C0A7EB;
$tekhelet-light-500: #B596E5;

:root{
    background-color: $flame-light-100;
    margin: 0;
    padding: 0;
    color: $tekhelet-dark-100;
    font-family: Dosis;
    font-weight: 500;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: $tekhelet-dark-100;

  }
::-webkit-scrollbar-thumb{
    background-color: $flame-light-300;
    border-radius: 50px;
}
.responsive-page{
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}
/**----------------------
 **      Header
 *------------------------**/
 .header{
    display: flex;
    justify-content: space-between;
 }
 /**----------------------
  **      Footer
  *------------------------**/
.footer{
    background-color: $tekhelet-light-300;
    color: $flame-light-500;
    bottom: 0 !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-block: 1.5rem;
    height: 22vh;
    margin-top: auto;
    font-family: Nunito-italic;
    letter-spacing: -1px;
    font-size: smaller;
}
.footer-links{
    color: $flame-light-500;
    gap: 1.25rem;
    height: 1.5rem;
    aspect-ratio: 1;
    align-items: center;
    justify-content: center;
}
/**----------------------
 **      Containers
 *------------------------**/
.links-container{
    display: flex;
    align-items: center;
    gap: .5rem;
    top: 1;
    position: relative;
}
.xpadding{
    padding-inline: 3rem;
}
.ypadding{
    padding-block: 2.5rem;
}
.footer-links-container{
      justify-content: center !important;
      margin-block: 1.25rem;
      display: flex;
      gap: 1.25rem;
}
/**----------------------
 **      landing
 *------------------------**/
 .welcome{
  display: block;
  align-items: center;
  text-align: center;
  margin-inline: auto !important;
  width: 100%;
  margin-bottom: 5rem;
  // @apply  lg:w-2/3 lg:flex;
 }
 .my-image{
  width: 200px;
  margin-inline: auto;
  border-bottom-right-radius: 1.5rem;
  // @apply   md:w-1/2 xl:w-1/2 ;
 }
 /**----------------------
  **      Font-Sizes
  *------------------------**/
  .responsive-logo-link{
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: bolder;
    font-family: Sofia;
  }
  .header-links{
    font-size: 1.25rem;
    line-height: 1.25rem;
    font-weight: bold;
  }
  .header-links:hover{
    text-decoration: underline !important;
      text-underline-offset: 10px !important;
      color: $flame-light-500 !important;
  }
  .responsive-special-text{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: bold;
  }
  .responive-heading-text{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .tech-h2{
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 2rem; 
  }
  .tech-p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; 
  }

  /* text-xs	font-size: 0.75rem; 
line-height: 1rem; 
text-sm	font-size: 0.875rem; 
line-height: 1.25rem;
text-base	font-size: 1rem; 
line-height: 1.5rem; 
text-lg	font-size: 1.125rem; 
line-height: 1.75rem;
text-xl	font-size: 1.25rem; 
line-height: 1.75rem; 
text-2xl	font-size: 1.5rem; 
line-height: 2rem; 
text-3xl	font-size: 1.875rem; 
line-height: 2.25rem; 
text-4xl	font-size: 2.25rem; 
line-height: 2.5rem; 
text-5xl	font-size: 3rem; 
line-height: 1;
text-6xl	font-size: 3.75rem;
line-height: 1;
text-7xl	font-size: 4.5rem;
line-height: 1;
text-8xl	font-size: 6rem; 
line-height: 1;
text-9xl	font-size: 8rem; 
line-height: 1; */
/**----------------------
 **      Media Screens

 //  sm	640px	@media (min-width: 640px) { ... } blackberry playbook 600
//  md	768px	@media (min-width: 768px) { ... } ipad 768 kindle fire 800
//  lg	1024px	@media (min-width: 1024px) { ... } ipad pro
//  xl	1280px	@media (min-width: 1280px) { ... } nesthub max
//  2xl	1536px	@media  vivobook 1920
 *------------------------**/
@media screen and (min-width: 600px) {
  // .my-image{
  //   width: 16rem;
  // }
} //blackberry playbook  sm
@media screen and (min-width: 768px) {
  .responive-logo-link{
    font-size: 4.5rem;
    line-height: 1;
  }
  .header-links{
    font-size: 3rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 3.75rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 3rem;
    line-height: 1;
  }
  .welcome{
    display: block;
  }
  .my-image{
    width: 70%;
  } 
  .links-container{
    gap: 1.5rem;
  }
} //ipad md
@media screen and (min-width: 1024px) {
  //lg
  .responive-logo-link{
    font-size: 4.5rem;
    line-height: 1;
  }
  .header-links{
    font-size: 3rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 3.75rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 3rem;
    line-height: 1;
  }
  .xpadding{
    padding-inline: 10rem;
  }
  .welcome{
    display: flex;
    text-align: left;
  }
  .my-image{
    width: 300px;
    border-bottom-right-radius: 3rem;
    position: relative;
    right: -2rem;
  }
  .links-container{
    gap: 2rem;
  }
} //ipad pro lg
@media screen and (min-width: 1280px) {
  .my-image{
    right: -8rem !important;
  }
} // nesthub max xl
@media screen and (min-width: 1536px) {
  .xpadding{
    margin-inline: 8rem;
  }
  .welcome{
    .responive-heading-text{
      font-size: xx-large;
    }
  }
  .my-image{
    right: -18rem !important;
    width: 30rem !important;
  }
} //vivobook 2xl