/* @media screen and (min-width: 600px) {

  .tech{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
  }
  .tech-container{
    width: 8rem;
    height: 8rem;
  }
} /*blackberry playbook  sm*/

/* @media screen and (min-width: 768px) {
  .header-links{
    font-size: 2rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 2rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 2rem;
    line-height: 1;
  }
  .welcome{
    display: block;
  }
  .my-image{
    width: 70%;
  } 
  .links-container{
    gap: 1.5rem;
  }
  .tech{
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      ". . . ."
      ". . . ."; 
  }
  .tech-container{
    width: 10rem;
    height: 10rem;
    word-wrap: wrap;
    padding: 15px 20px;
  }
  .tech-name{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.75rem; 
  }
  .tech-lcon{
    margin-top: 1rem;
  }
} /*ipad md*/

/* @media screen and (min-width: 1024px) {
  
  .header-links{
    font-size: 3rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 3.75rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 3rem;
    line-height: 1;
  }
  .xpadding{
    padding-inline: 10rem;
  }
  .welcome{
    display: flex;
    text-align: left;
  }
  .my-image{
    width: 300px;
    border-bottom-right-radius: 3rem;
    position: relative;
    right: -2rem;
  }
  .links-container{
    gap: 2rem;
  }
} ipad pro lg */

/* @media screen and (min-width: 1280px) {
  .my-image{
    right: -8rem !important;
  }
  .tech{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . . . . ."
      ". . . . . ."; 
  }
  .tech-Icon{
    vertical-align: middle !important;
  }
} nesthub max xl */

/* @media screen and (min-width: 1536px) {
  .xpadding{
    margin-inline: 8rem;
  }
  .welcome{
    .responive-heading-text{
      font-size: xx-large;
    }
  }
  .my-image{
    right: -18rem !important;
    width: 30rem !important;
  }
}vivobook 2xl */

/*  
600 sm
768 md
1024 lg
1280 xl
1536 2xl
*/