/* @media screen and (min-width: 600px) {
  .responive-logo-link{
    font-size: 5rem !important;
    line-height: 5.25rem !important;
  } 
  .tech{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
      ". . ."
      ". . ."; 
  }
  .tech-container{
    width: 8rem;
    height: 8rem;
  }
} /*blackberry playbook  sm*/
/* @media screen and (min-width: 768px) {
  .header-links{
    font-size: 2rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 2rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 2rem;
    line-height: 1;
  }
  .welcome{
    display: block;
  }
  .my-image{
    width: 70%;
  } 
  .links-container{
    gap: 1.5rem;
  }
  .tech{
    grid-template-columns: 1fr 1fr 1fr 1fr;  
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      ". . . ."
      ". . . ."; 
  }
  .tech-container{
    width: 10rem;
    height: 10rem;
    word-wrap: wrap;
    padding: 15px 20px;
  }
  .tech-name{
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.75rem; 
  }
  .tech-lcon{
    margin-top: 1rem;
  }
} /*ipad md*/
/* @media screen and (min-width: 1024px) {
  
  .header-links{
    font-size: 3rem;
    line-height: 1;
  }
  .responsive-special-text{
    font-size: 3.75rem;
    line-height: 1;
  }
  .responive-heading-text{
    font-size: 3rem;
    line-height: 1;
  }
  .xpadding{
    padding-inline: 10rem;
  }
  .welcome{
    display: flex;
    text-align: left;
  }
  .my-image{
    width: 300px;
    border-bottom-right-radius: 3rem;
    position: relative;
    right: -2rem;
  }
  .links-container{
    gap: 2rem;
  }
} ipad pro lg */
/* @media screen and (min-width: 1280px) {
  .my-image{
    right: -8rem !important;
  }
  .tech{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      ". . . . . ."
      ". . . . . ."; 
  }
  .tech-Icon{
    vertical-align: middle !important;
  }
} nesthub max xl */
/* @media screen and (min-width: 1536px) {
  .xpadding{
    margin-inline: 8rem;
  }
  .welcome{
    .responive-heading-text{
      font-size: xx-large;
    }
  }
  .my-image{
    right: -18rem !important;
    width: 30rem !important;
  }
}vivobook 2xl */

/* @tailwind base;
@tailwind components;
@tailwind utilities;

/**----------------------------------------------
 * ?                    ABOUT
 * @author      :  Felicia Haggard
 * @email       :  haggardwebdev@gmail.com
 * @repo        :  haggardfelicia
 * @createdOn   :  08/05/2024
 * @description :  scss for my portfolio. fonts are declared below.
 *---------------------------------------------**/

 /**----------------------
  **      Fonts
  text-xs	font-size: 0.75rem; 
line-height: 1rem; 
text-sm	font-size: 0.875rem; 
line-height: 1.25rem;
text-base	font-size: 1rem; 
line-height: 1.5rem; 
text-lg	font-size: 1.125rem; 
line-height: 1.75rem;
text-xl	font-size: 1.25rem; 
line-height: 1.75rem; 
text-2xl	font-size: 1.5rem; 
line-height: 2rem; 
text-3xl	font-size: 1.875rem; 
line-height: 2.25rem; 
text-4xl	font-size: 2.25rem; 
line-height: 2.5rem; 
text-5xl	font-size: 3rem; 
line-height: 1;
text-6xl	font-size: 3.75rem;
line-height: 1;
text-7xl	font-size: 4.5rem;
line-height: 1;
text-8xl	font-size: 6rem; 
line-height: 1;
text-9xl	font-size: 8rem; 
line-height: 1;
  *------------------------**/
/* @import url('./fonts/stylesheet.css');

:root{
  @apply bg-flame-light-100 m-0 p-0 text-tekhelet-dark-100 font-Dosis font-normal;
}
::-webkit-scrollbar{
  @apply w-2 bg-tekhelet-dark-100;
  }
::-webkit-scrollbar-thumb{
  @apply bg-flame-light-300 rounded-full;
}
.responsive-page{
  @apply min-h-full flex flex-col;
} */

/**----------------------
 **      Header
 *------------------------**/
 /* .header{
  @apply flex justify-between;
 } */

 /**----------------------
  **      Footer
  *------------------------**/
/* .footer{
  @apply bg-tekhelet-light-300 text-flame-light-500 bottom-0 w-full items-center justify-center text-center font-Nunito-italic text-sm; 

    padding-block: 1.5rem;
    height: 22vh;
    margin-top: auto;
    font-family: Nunito-italic;
    letter-spacing: -1px;
}
.footer-links{
  @apply text-flame-light-500 items-center justify-center aspect-square;
    gap: 1.25rem;
    height: 1.5rem;
} */

/**----------------------
 **      Containers
 *------------------------**/
/* .links-container{
  @apply flex items-center relative top-1;
    gap: .5rem;
}
.xpadding{
    padding-inline: 3rem;
}
.ypadding{
    padding-block: 2.5rem;
}
.footer-links-container{
  @apply justify-center flex;
      margin-block: 1.25rem;
      gap: 1.25rem;
} */

/**----------------------
 **      landing
 *------------------------**/
 /* .welcome{
  @apply block items-center text-center my-[auto] w-full;
  margin-bottom: 5rem;
 }
 .my-image{
  @apply w-[200px] my-[auto] mt-[1rem];
  border-bottom-right-radius: 1.5rem;
 } */

   /**----------------------
 **      Text
 *------------------------**/

/* .responsive-logo{
  @apply    bg-gradient-to-tl from-tekhelet-dark-500  via-tekhelet-dark-200 to-tekhelet-light-300 bg-clip-text  text-2xl text-transparent font-bold font-Sofia;
}
.header-links{
  @apply bg-gradient-to-tl from-tekhelet-dark-500  via-tekhelet-dark-200 to-tekhelet-light-300  bg-clip-text font-bold text-xl text-transparent;  
}
.responsive-special-text{
  @apply bg-gradient-to-tl from-tekhelet-dark-500  via-tekhelet-dark-200 to-tekhelet-light-300   bg-clip-text text-2xl text-transparent font-bold;
} */
  /* 
  text-xs	font-size: 0.75rem; 
line-height: 1rem; 
text-sm	font-size: 0.875rem; 
line-height: 1.25rem;
text-base	font-size: 1rem; 
line-height: 1.5rem; 
text-lg	font-size: 1.125rem; 
line-height: 1.75rem;
text-xl	font-size: 1.25rem; 
line-height: 1.75rem; 
text-2xl	font-size: 1.5rem; 
line-height: 2rem; 
text-3xl	font-size: 1.875rem; 
line-height: 2.25rem; 
text-4xl	font-size: 2.25rem; 
line-height: 2.5rem; 
text-5xl	font-size: 3rem; 
line-height: 1;
text-6xl	font-size: 3.75rem;
line-height: 1;
text-7xl	font-size: 4.5rem;
line-height: 1;
text-8xl	font-size: 6rem; 
line-height: 1;
text-9xl	font-size: 8rem; 
line-height: 1; 
*/
 /**----------------------
  **      Font-Sizes
  *------------------------**/
  /* .header-links:hover{
    text-decoration: underline !important;
      text-underline-offset: 10px !important;
      color: flame-light-500 !important;
  } */

  /* .responive-heading-text{
    @apply text-xl;
  }
  .about-h2{
    @apply text-xl font-semibold;
  }
  .tech{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 20px 10px; 
    grid-template-areas: 
      ". ."
      ".  ."
      ". ."; 
  }
  .tech-container{
    @apply flex flex-col items-center w-[6rem] h-[6rem] border-2 border-solid border-flame-light-500 rounded-md text-wrap p-[10px];
  }
  .tech-name{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem; 
    margin-bottom: 1rem;
  }
  .tech-lcon{
    height: 4rem;
    width: 4rem;
    margin-top: 5px;
  }
  .tailwind-icon{
    height: 2rem;
  }  */